@model Vidly.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Movies</h1>
@Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
@{ if (Model.Movies.Count <= 0)
    {
        <p>We have no movies!</p>
    }
    else
    {
        <table class="table table-bordered table-hover">
            @foreach (var movie in Model.Movies)
            {
                <tr>
                    <td><h2>@Html.ActionLink($"{movie.Name}", "Edit", "Movies", new { id = movie.Id }, null)</h2></td>
                </tr>
            }
        </table>
    }
}

